body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(-45deg, #f4646a, #e95d6d, #c94d71, #993f6e, #633260, #372649, #1d1b35, #14162c);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.user-page {
    display: flex;
    justify-content: center;
    height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.user-form {
    align-self: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    height: 50%;
    padding: 2rem;
    width: 50%;
}

.user-form__title {
    text-align: center;
}

.user-form__input {
    padding: .5rem;
    border-radius: 5px;
    font-size: 16px;
    border-style: solid;
    margin-bottom: 1rem;
}

.user-form__input:focus {
    box-shadow: 0 0 10px #9ecaed;
}

.user-form__create-button {
    height: 3em;
    font-size: 16px;
    cursor: pointer;
}